.input-full-width {
    width: 100%;
}

h5 {
    font-weight: bold;
}

.box {
    height: 60px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

md-expansion-panel {
    margin: 0.5%;
}

ul li div i, ul li p {
    display: inline-block;
}

ul li div i {
    height: 15px;
    width: 15px;
}

.span {
    margin-left: 5px;
}

.button-status-disabled[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

.full-width-status {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-left: 5px;
  }
.abnormal {
    color: red
}
