
<div [formGroup]="cbacScreeningForm">
<br>
  <div>
    <label class="option1 option2" *ngIf="(totalCbacScore !== null && totalCbacScore >= 0) || (totalScore !== null && totalScore >= 0)"><strong>{{currentLanguageSet?.cbacScore}} :</strong>&nbsp;&nbsp;{{totalScore + ageScore + consumeGutkaScore + cbacAlcoholScore + cbacWaistMaleScore + cbacWaistFemaleScore + cbacPhysicalActivityScore + cbacFamilyHistoryBpdiabetesScore}}</label>
    <label class="option1 pull-right" style="color:red" *ngIf="totalCbacScore >= 4  || totalScore >= 4"><strong>** {{currentLanguageSet?.suspectedNCDCase}}</strong></label>
  </div>
  <br>
<div>
<md-card>
  <md-card-header>
    <md-card-title>
      <h4>
        <strong>{{currentLanguageSet?.partA}}: {{currentLanguageSet?.riskAssesment}}</strong>
      </h4>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div class="table-responsive">
      <table  aria-describedby= "cbacTable" class="table">
        <thead>
          <tr>
            <th scope="col">{{currentLanguageSet?.coreComponents?.sno}}.</th>
            <th scope="col">{{currentLanguageSet?.common?.question}}</th>
            <th scope="col" style="padding-left: 65px;">{{currentLanguageSet?.common?.answer}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr>
              <td>1.</td>
              <td class="onHover">What is your age?</td>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select  [style.width]="'100%'"  name="cbacAge" class="answer"
                  formControlName="cbacAge" (change)="calculateAgeScore()" >
                  <md-option *ngFor="let cbacAgeValues of cbacAgeOptions" [value]="cbacAgeValues.option">{{cbacAgeValues.option}} </md-option>
                </md-select>
                </div>
              </td>
            </tr>

            <tr>
              <td>2.</td>
              <td class="onHover">Do you smoke or consume smokeless products such as gutka or khaini?</td>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select   [style.width]="'100%'"  name="cbacConsumeGutka" class="answer"
                  formControlName="cbacConsumeGutka" (change)="calculatecbacConsumeGutka()" >
                  <md-option  *ngFor="let cbacConsumeGutkaValues of cbacConsumeGutkaOptions" [value]="cbacConsumeGutkaValues.option">{{cbacConsumeGutkaValues.option}} </md-option>
                </md-select>
                </div>
              </td>
            </tr>

            <tr>
              <td>3.</td>
              <td class="onHover">Do you consume alchohol daily?</td>
              <td>
                <md-radio-group formControlName="cbacAlcohol" class="radioButton" name="cbacAlcohol" (change)="calculatecbacAlcohol()">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>4.</td>
              <td class="onHover">Measurement of waist</td>
              <td *ngIf="beneficiaryGender === 'male'">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select  [style.width]="'100%'"  name="cbacWaistMale" class="answer"
                  formControlName="cbacWaistMale" (change)="calculatecbacWaistMaleScore()" >
                  <md-option *ngFor="let cbacWaistMaleValues of cbacWaistMaleOptions" [value]="cbacWaistMaleValues.option">{{cbacWaistMaleValues.option}} </md-option>
                </md-select>
                </div>
              </td>

              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select  [style.width]="'100%'"  name="cbacWaistFemale" class="answer"
                  formControlName="cbacWaistFemale" (change)="calculatecbacWaistFemaleScore()" >
                  <md-option *ngFor="let cbacWaistFemaleValues of cbacWaistFemaleOptions" [value]="cbacWaistFemaleValues.option">{{cbacWaistFemaleValues.option}} </md-option>
                </md-select>
                </div>
              </td>
            </tr>

            <tr>
              <td>5.</td>
              <td class="onHover">Do you undertake any physical activities for minimum of 150 minutes in a week?</td>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select   [style.width]="'100%'"  name="cbacPhysicalActivity" class="answer"
                  formControlName="cbacPhysicalActivity" (change)="calculateCbacPhysicalActivity()" >
                  <md-option *ngFor="let cbacPhysicalActivityValues of cbacPhysicalActivityOptions" [value]="cbacPhysicalActivityValues.option">{{cbacPhysicalActivityValues.option}} </md-option>
                </md-select>
                </div>
              </td>
            </tr>

            <tr>
              <td>6.</td>
              <td class="onHover">Do you have a family history (any one of your parents or siblings) of high blood pressure, diabetes and heart disease?</td>
              <td>
                <md-radio-group formControlName="cbacFamilyHistoryBpdiabetes" class="radioButton" name="cbacFamilyHistoryBpdiabetes" (change)="calculateCbacFamilyHistoryBpdiabetes()">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </md-card-content>
  <md-card-header>
    <md-card-title>
      <h4>
        <strong>{{currentLanguageSet?.partB}}: {{currentLanguageSet?.symptomsAssesment}}</strong>
      </h4>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div class="table-responsive">
      <table aria-describedby= "cbacTableQuestions" class="table">
        <thead>
          <tr>
            <th scope="col">{{currentLanguageSet?.coreComponents?.sno}}</th>
            <th scope="col">{{currentLanguageSet?.common?.question}}</th>
            <th scope="col"style="padding-left: 35px;">{{currentLanguageSet?.common?.answer}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr>
              <td>1.</td>
              <td class="onHover">Shortness of Breath</td>
              <td>
                <md-radio-group formControlName="cbacShortnessBreath"  name="cbacShortnessBreath">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>2.</td>
              <td class="onHover">Coughing more than 2 weeks</td>
              <td>
                <md-radio-group formControlName="cbacCough2weeks"  name="cbacCough2weeks">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>3.</td>
              <td class="onHover">Blood in Sputum</td>
              <td>
                <md-radio-group formControlName="cbacBloodsputum"  name="cbacBloodsputum">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>4.</td>
              <td class="onHover">Fever for > 2 weeks</td>
              <td>
                <md-radio-group formControlName="cbacFever2weeks"  name="cbacFever2weeks">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>5.</td>
              <td class="onHover">Loss of Weight</td>
              <td>
                <md-radio-group formControlName="cbacWeightLoss"  name="cbacWeightLoss">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>6.</td>
              <td class="onHover">Night Sweats</td>
              <td>
                <md-radio-group formControlName="cbacNightSweats"  name="cbacNightSweats">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>7.</td>
              <td class="onHover">Are you taking currently Anti-TB Drugs</td>
              <td>
                <md-radio-group formControlName="cbacAntiTBDrugs"  name="cbacAntiTBDrugs">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>8.</td>
              <td class="onHover">Anyone in family currently suffering from TB</td>
              <td>
                <md-radio-group formControlName="cbacTb"  name="cbacTb">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>9.</td>
              <td class="onHover">History of TB</td>
              <td>
                <md-radio-group formControlName="cbacTBHistory"  name="cbacTBHistory">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>10.</td>
              <td class="onHover">Recurrent Ulceration on palm or sole</td>
              <td>
                <md-radio-group formControlName="cbacUlceration"  name="cbacUlceration">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>11.</td>
              <td class="onHover">Recurrent Tingling on palms or soles</td>
              <td>
                <md-radio-group formControlName="cbacRecurrentTingling"  name="cbacRecurrentTingling">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>12.</td>
              <td class="onHover">History of Fits</td>
              <td>
                <md-radio-group formControlName="cbacFitsHistory"  name="cbacFitsHistory">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>13.</td>
              <td class="onHover">Difficulty in Opening mouth</td>
              <td>
                <md-radio-group formControlName="cbacMouthopeningDifficulty"  name="cbacMouthopeningDifficulty">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>14.</td>
              <td class="onHover">Any ulcers in mouth that has not healed  in two weeks</td>
              <td>
                <md-radio-group formControlName="cbacMouthUlcers"  name="cbacMouthUlcers">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>15.</td>
              <td class="onHover">Any growth in mouth that has not healed in two weeks</td>
              <td>
                <md-radio-group formControlName="cbacMouthUlcersGrowth"  name="cbacMouthUlcersGrowth">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>16.</td>
              <td class="onHover">Any red or white patch in mouth that has not healed in two weeks</td>
              <td>
                <md-radio-group formControlName="cbacMouthredpatch"  name="cbacMouthredpatch">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>17.</td>
              <td class="onHover">Pain while chewing</td>
              <td>
                <md-radio-group formControlName="cbacPainchewing"  name="cbacPainchewing">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>18.</td>
              <td class="onHover">Any change in the tone of your voice</td>
              <td>
                <md-radio-group formControlName="cbacTonechange"  name="cbacTonechange">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>19.</td>
              <td class="onHover">Any hypopigmented patch(es) or discolored lesion(s) with loss of sensation</td>
              <td>
                <md-radio-group formControlName="cbacHypopigmentedpatches" name="cbacHypopigmentedpatches">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>20.</td>
              <td class="onHover">Any thickened skin</td>
              <td>
                <md-radio-group formControlName="cbacThickenedskin"  name="cbacThickenedskin">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>21.</td>
              <td class="onHover">Any nodules on skin</td>
              <td>
                <md-radio-group formControlName="cbacNodulesonskin"  name="cbacNodulesonskin">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>22.</td>
              <td class="onHover">Recurrent numbness on palm(s) or sole(s)</td>
              <td>
                <md-radio-group formControlName="cbacRecurrentNumbness"  name="cbacRecurrentNumbness">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>


            <tr>
              <td>23.</td>
              <td class="onHover">Cloudy or blurred vision</td>
              <td>
                <md-radio-group formControlName="cbacBlurredVision"  name="cbacBlurredVision">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>24.</td>
              <td class="onHover">Difficulty in reading</td>
              <td>
                <md-radio-group formControlName="cbacDifficultyreading"  name="cbacDifficultyreading">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>25.</td>
              <td class="onHover">Redness in eyes lasting for more than a week</td>
              <td>
                <md-radio-group formControlName="cbacRednessPain"  name="cbacRednessPain">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>26.</td>
              <td class="onHover">Difficulty in hearing</td>
              <td>
                <md-radio-group formControlName="cbacDifficultyHearing"  name="cbacDifficultyHearing">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>27.</td>
              <td class="onHover">Clawing of fingers in hand(s) or feet</td>
              <td>
                <md-radio-group formControlName="cbacClawingfingers"  name="cbacClawingfingers">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>28.</td>
              <td class="onHover">Tingling or Numbness in hands or and or feet</td>
              <td>
                <md-radio-group formControlName="cbacHandTingling"  name="cbacHandTingling">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>29.</td>
              <td class="onHover">Inability to close eyelid</td>
              <td>
                <md-radio-group formControlName="cbacInabilityCloseeyelid"  name="cbacInabilityCloseeyelid">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>30.</td>
              <td class="onHover">Difficulty in holding objects with fingers</td>
              <td>
                <md-radio-group formControlName="cbacDifficultHoldingObjects"  name="cbacDifficultHoldingObjects">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>31.</td>
              <td class="onHover">Weakness in feet that causes difficulty in walking</td>
              <td>
                <md-radio-group formControlName="cbacFeetweakness"  name="cbacFeetweakness">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender' ">
              <td>32.</td>
              <td class="onHover">Lump in the breast</td>
              <td>
                <md-radio-group formControlName="cbacLumpBreast"  name="cbacLumpBreast">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>33.</td>
              <td class="onHover">Blood-stained discharge from the nipple</td>
              <td>
                <md-radio-group formControlName="cbacBloodnippleDischarge"  name="cbacBloodnippleDischarge">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>34.</td>
              <td class="onHover">Change in shape and size of breast</td>
              <td>
                <md-radio-group formControlName="cbacBreastsizechange"  name="cbacBreastsizechange">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>35.</td>
              <td class="onHover">Bleeding between periods</td>
              <td>
                <md-radio-group formControlName="cbacBleedingPeriods"  name="cbacBleedingPeriods">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>36.</td>
              <td class="onHover">Bleeding after menopause</td>
              <td>
                <md-radio-group formControlName="cbacBleedingMenopause"  name="cbacBleedingMenopause">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>37.</td>
              <td class="onHover">Bleeding after intercourse</td>
              <td>
                <md-radio-group formControlName="cbacBleedingIntercourse"  name="cbacBleedingIntercourse">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>38.</td>
              <td class="onHover">Foul smell vaginal discharge</td>
              <td>
                <md-radio-group formControlName="cbacVaginalDischarge"  name="cbacVaginalDischarge">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryAge >= 60">
              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">39.</td>
              <td *ngIf="beneficiaryGender === 'male'">32.</td>
              <td class="onHover">Feeling Unsteady while standing or walking</td>
              <td>
                <md-radio-group formControlName="cbacFeelingUnsteady"  name="cbacFeelingUnsteady">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryAge >= 60">
              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">40.</td>
              <td *ngIf="beneficiaryGender === 'male'">33.</td>
              <td class="onHover">Suffering from any disability that restricts movement</td>
              <td>
                <md-radio-group formControlName="cbacPhysicalDisabilitySuffering"  name="cbacPhysicalDisabilitySuffering">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryAge >= 60">
              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">41.</td>
              <td *ngIf="beneficiaryGender === 'male'">34.</td>
              <td class="onHover">Needing helping from others to perform everyday activities such as eating ,getting dressed grooming,bathing,walking, or using toilet</td>
              <td>
                <md-radio-group formControlName="cbacNeedhelpEverydayActivities"  name="cbacNeedhelpEverydayActivities">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryAge >= 60">
              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">42.</td>
              <td *ngIf="beneficiaryGender === 'male'">35.</td>
              <td class="onHover">Forgetting names of your nears ones or your home address</td>
              <td>
                <md-radio-group formControlName="cbacForgetnearones"  name="cbacForgetnearones">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

           

          </ng-container>
        </tbody>
      </table>
    </div>
  </md-card-content>
</md-card>
</div>
</div>