
<div [formGroup]="cbacScreeningForm">
<br>
  <div>
    <label class="option1 option2" *ngIf="(totalCbacScore !== null && totalCbacScore >= 0) || (totalScore !== null && totalScore >= 0)"><strong>{{currentLanguageSet?.cbacScore}} :</strong>&nbsp;&nbsp;{{totalScore + ageScore + consumeGutkaScore + cbacAlcoholScore + cbacWaistMaleScore + cbacWaistFemaleScore + cbacPhysicalActivityScore + cbacFamilyHistoryBpdiabetesScore}}</label>
    <label class="option1 pull-right" style="color:red" *ngIf="totalCbacScore >= 4  || totalScore >= 4"><strong>** {{currentLanguageSet?.suspectedNCDCase}}</strong></label>
  </div>
  <br>
<div>
<md-card>
  <md-card-header>
    <md-card-title>
      <h4>
        <strong>{{currentLanguageSet?.partA}}: {{currentLanguageSet?.riskAssesment}}</strong>
      </h4>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div class="table-responsive">
      <table  aria-describedby= "cbacTable" class="table">
        <thead>
          <tr>
            <th scope="col">{{currentLanguageSet?.coreComponents?.sno}}.</th>
            <th scope="col">{{currentLanguageSet?.common?.question}}</th>
            <th scope="col" style="padding-left: 65px;">{{currentLanguageSet?.common?.answer}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr>
              <td>1.</td>
              <td class="onHover">{{currentLanguageSet?.whatIsYourAge}}</td>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select  [style.width]="'100%'"  name="cbacAge" class="answer"
                  formControlName="cbacAge" (change)="calculateAgeScore()" >
                  <md-option *ngFor="let cbacAgeValues of cbacAgeOptions" [value]="cbacAgeValues.option">{{cbacAgeValues.option}} </md-option>
                </md-select>
                </div>
              </td>
            </tr>

            <tr>
              <td>2.</td>
              <td class="onHover">{{currentLanguageSet?.doYouSmokeOrConsumeSmokelessProductsSuchAsGutkaOrKhaini}}</td>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select   [style.width]="'100%'"  name="cbacConsumeGutka" class="answer"
                  formControlName="cbacConsumeGutka" (change)="calculatecbacConsumeGutka()" >
                  <md-option  *ngFor="let cbacConsumeGutkaValues of cbacConsumeGutkaOptions" [value]="cbacConsumeGutkaValues.option">{{cbacConsumeGutkaValues.option}} </md-option>
                </md-select>
                </div>
              </td>
            </tr>

            <tr>
              <td>3.</td>
              <td class="onHover">{{currentLanguageSet?.doYouConsumeAlchoholDaily}}</td>
              <td>
                <md-radio-group formControlName="cbacAlcohol" class="radioButton" name="cbacAlcohol" (change)="calculatecbacAlcohol()">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>4.</td>
              <td class="onHover">{{currentLanguageSet?.measurementOfWaist}}</td>
              <td *ngIf="beneficiaryGender === 'male'">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select  [style.width]="'100%'"  name="cbacWaistMale" class="answer"
                  formControlName="cbacWaistMale" (change)="calculatecbacWaistMaleScore()" >
                  <md-option *ngFor="let cbacWaistMaleValues of cbacWaistMaleOptions" [value]="cbacWaistMaleValues.option">{{cbacWaistMaleValues.option}} </md-option>
                </md-select>
                </div>
              </td>

              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select  [style.width]="'100%'"  name="cbacWaistFemale" class="answer"
                  formControlName="cbacWaistFemale" (change)="calculatecbacWaistFemaleScore()" >
                  <md-option *ngFor="let cbacWaistFemaleValues of cbacWaistFemaleOptions" [value]="cbacWaistFemaleValues.option">{{cbacWaistFemaleValues.option}} </md-option>
                </md-select>
                </div>
              </td>
            </tr>

            <tr>
              <td>5.</td>
              <td class="onHover">{{currentLanguageSet?.doYouUndertakeAnyPhysicalActivitiesForMinimumOf150MinutesInaWeek}}</td>
              <td>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 box">
                <md-select   [style.width]="'100%'"  name="cbacPhysicalActivity" class="answer"
                  formControlName="cbacPhysicalActivity" (change)="calculateCbacPhysicalActivity()" >
                  <md-option *ngFor="let cbacPhysicalActivityValues of cbacPhysicalActivityOptions" [value]="cbacPhysicalActivityValues.option">{{cbacPhysicalActivityValues.option}} </md-option>
                </md-select>
                </div>
              </td>
            </tr>

            <tr>
              <td>6.</td>
              <td class="onHover">{{currentLanguageSet?.doYouHaveaFamilyHistoryOfHighBloodPressureDiabetesAndHeartDisease}}</td>
              <td>
                <md-radio-group formControlName="cbacFamilyHistoryBpdiabetes" class="radioButton" name="cbacFamilyHistoryBpdiabetes" (change)="calculateCbacFamilyHistoryBpdiabetes()">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </md-card-content>
  <md-card-header>
    <md-card-title>
      <h4>
        <strong>{{currentLanguageSet?.partB}}: {{currentLanguageSet?.symptomsAssesment}}</strong>
      </h4>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div class="table-responsive">
      <table aria-describedby= "cbacTableQuestions" class="table">
        <thead>
          <tr>
            <th scope="col">{{currentLanguageSet?.coreComponents?.sno}}</th>
            <th scope="col">{{currentLanguageSet?.common?.question}}</th>
            <th scope="col"style="padding-left: 35px;">{{currentLanguageSet?.common?.answer}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr>
              <td>1.</td>
              <td class="onHover">{{currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.symptoms?.shortnessofbreath}}</td>
              <td>
                <md-radio-group formControlName="cbacShortnessBreath"  name="cbacShortnessBreath">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>2.</td>
              <td class="onHover">{{currentLanguageSet?.coughingMoreThan2Weeks}}</td>
              <td>
                <md-radio-group formControlName="cbacCough2weeks"  name="cbacCough2weeks">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>3.</td>
              <td class="onHover">{{currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.symptoms?.bloodinsputum}}</td>
              <td>
                <md-radio-group formControlName="cbacBloodsputum"  name="cbacBloodsputum">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>4.</td>
              <td class="onHover">{{currentLanguageSet?.feverFor2Weeks}}</td>
              <td>
                <md-radio-group formControlName="cbacFever2weeks"  name="cbacFever2weeks">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>5.</td>
              <td class="onHover">{{currentLanguageSet?.lossOfWeight}}</td>
              <td>
                <md-radio-group formControlName="cbacWeightLoss"  name="cbacWeightLoss">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>6.</td>
              <td class="onHover">{{ currentLanguageSet?.nightSweats }}</td>
              <td>
                <md-radio-group formControlName="cbacNightSweats"  name="cbacNightSweats">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>7.</td>
              <td class="onHover">{{ currentLanguageSet?.areYouTakingCurrentlyAnti }}</td>
              <td>
                <md-radio-group formControlName="cbacAntiTBDrugs"  name="cbacAntiTBDrugs">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>8.</td>
              <td class="onHover">{{currentLanguageSet?.anyoneInFamilyCurrentlySufferingFromTB}}</td>
              <td>
                <md-radio-group formControlName="cbacTb"  name="cbacTb">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>9.</td>
              <td class="onHover">{{currentLanguageSet?.historyOfTB}}</td>
              <td>
                <md-radio-group formControlName="cbacTBHistory"  name="cbacTBHistory">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>10.</td>
              <td class="onHover">{{currentLanguageSet?.recurrentUlcerationOnPalmOrSole}}</td>
              <td>
                <md-radio-group formControlName="cbacUlceration"  name="cbacUlceration">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>11.</td>
              <td class="onHover">{{currentLanguageSet?.recurrentTinglingonPalmsorSoles}}</td>
              <td>
                <md-radio-group formControlName="cbacRecurrentTingling"  name="cbacRecurrentTingling">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>12.</td>
              <td class="onHover">{{currentLanguageSet?.historyofFits}}</td>
              <td>
                <md-radio-group formControlName="cbacFitsHistory"  name="cbacFitsHistory">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>13.</td>
              <td class="onHover">{{currentLanguageSet?.difficultyInOpeningMouth}}</td>
              <td>
                <md-radio-group formControlName="cbacMouthopeningDifficulty"  name="cbacMouthopeningDifficulty">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>14.</td>
              <td class="onHover">{{currentLanguageSet?.anyUlcersInMouthThatHasNotHealedInTwoWeeks}}</td>
              <td>
                <md-radio-group formControlName="cbacMouthUlcers"  name="cbacMouthUlcers">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>15.</td>
              <td class="onHover">{{currentLanguageSet?.anyGrowthInMouthThatHasNotHealedIntWoweeks}}</td>
              <td>
                <md-radio-group formControlName="cbacMouthUlcersGrowth"  name="cbacMouthUlcersGrowth">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>16.</td>
              <td class="onHover">{{currentLanguageSet?.AnyRedorWhitePatchinMouthThatHasNotHealedInTwoweeks}}</td>
              <td>
                <md-radio-group formControlName="cbacMouthredpatch"  name="cbacMouthredpatch">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>17.</td>
              <td class="onHover">{{currentLanguageSet?.painWhileChewing}}</td>
              <td>
                <md-radio-group formControlName="cbacPainchewing"  name="cbacPainchewing">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>18.</td>
              <td class="onHover">{{currentLanguageSet?.anyChangeInTheToneOfYourVoice}}</td>
              <td>
                <md-radio-group formControlName="cbacTonechange"  name="cbacTonechange">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>19.</td>
              <td class="onHover">{{currentLanguageSet?.anyHypopigmentedPatchorDiscoloredLesionWithLossOfSensation}}</td>
              <td>
                <md-radio-group formControlName="cbacHypopigmentedpatches" name="cbacHypopigmentedpatches">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>20.</td>
              <td class="onHover">{{currentLanguageSet?.anyThickenedSkin}}</td>
              <td>
                <md-radio-group formControlName="cbacThickenedskin"  name="cbacThickenedskin">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>21.</td>
              <td class="onHover">{{currentLanguageSet?.anyNodulesOnSkin}}</td>
              <td>
                <md-radio-group formControlName="cbacNodulesonskin"  name="cbacNodulesonskin">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>22.</td>
              <td class="onHover">{{currentLanguageSet?.recurrentNumbnessOnPalmorSole}}</td>
              <td>
                <md-radio-group formControlName="cbacRecurrentNumbness"  name="cbacRecurrentNumbness">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>


            <tr>
              <td>23.</td>
              <td class="onHover">{{currentLanguageSet?.cloudyOrBlurredVision}}</td>
              <td>
                <md-radio-group formControlName="cbacBlurredVision"  name="cbacBlurredVision">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>24.</td>
              <td class="onHover">{{currentLanguageSet?.difficultyInReading}}</td>
              <td>
                <md-radio-group formControlName="cbacDifficultyreading"  name="cbacDifficultyreading">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>25.</td>
              <td class="onHover">{{currentLanguageSet?.rednessInEyesLastingForMoreThanaWeek}}</td>
              <td>
                <md-radio-group formControlName="cbacRednessPain"  name="cbacRednessPain">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>26.</td>
              <td class="onHover">{{currentLanguageSet?.difficultyInHearing}}</td>
              <td>
                <md-radio-group formControlName="cbacDifficultyHearing"  name="cbacDifficultyHearing">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>27.</td>
              <td class="onHover">{{currentLanguageSet?.clawingOfFingersInHandOrFeet}}</td>
              <td>
                <md-radio-group formControlName="cbacClawingfingers"  name="cbacClawingfingers">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>28.</td>
              <td class="onHover">{{currentLanguageSet?.tinglingorNumbnessinHandsorAndorFeet}}</td>
              <td>
                <md-radio-group formControlName="cbacHandTingling"  name="cbacHandTingling">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>29.</td>
              <td class="onHover">{{currentLanguageSet?.inabilitytoCloseEyelid}}</td>
              <td>
                <md-radio-group formControlName="cbacInabilityCloseeyelid"  name="cbacInabilityCloseeyelid">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>30.</td>
              <td class="onHover">{{currentLanguageSet?.difficultyInHoldingObjectsWithFingers}}</td>
              <td>
                <md-radio-group formControlName="cbacDifficultHoldingObjects"  name="cbacDifficultHoldingObjects">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr>
              <td>31.</td>
              <td class="onHover">{{currentLanguageSet?.weaknessinFeetThatCausesDifficultyInWalking}}</td>
              <td>
                <md-radio-group formControlName="cbacFeetweakness"  name="cbacFeetweakness">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender' ">
              <td>32.</td>
              <td class="onHover">{{currentLanguageSet?.lumpintheBreast}}</td>
              <td>
                <md-radio-group formControlName="cbacLumpBreast"  name="cbacLumpBreast">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>33.</td>
              <td class="onHover">{{currentLanguageSet?.bloodStainedDischargeFromTheNipple}}</td>
              <td>
                <md-radio-group formControlName="cbacBloodnippleDischarge"  name="cbacBloodnippleDischarge">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>34.</td>
              <td class="onHover">{{currentLanguageSet?.ExaminationData?.cancerScreeningExamination?.symptoms?.changeinshapeandsizeofbreasts}}</td>
              <td>
                <md-radio-group formControlName="cbacBreastsizechange"  name="cbacBreastsizechange">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>35.</td>
              <td class="onHover">{{currentLanguageSet?.bleedingBetweenPeriods}}</td>
              <td>
                <md-radio-group formControlName="cbacBleedingPeriods"  name="cbacBleedingPeriods">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>36.</td>
              <td class="onHover">{{currentLanguageSet?.bleedingAfterMenopause}}</td>
              <td>
                <md-radio-group formControlName="cbacBleedingMenopause"  name="cbacBleedingMenopause">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>37.</td>
              <td class="onHover">{{currentLanguageSet?.bleedingAfterIntercourse}}</td>
              <td>
                <md-radio-group formControlName="cbacBleedingIntercourse"  name="cbacBleedingIntercourse">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">
              <td>38.</td>
              <td class="onHover">{{currentLanguageSet?.foulSmellVaginalDischarge}}</td>
              <td>
                <md-radio-group formControlName="cbacVaginalDischarge"  name="cbacVaginalDischarge">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryAge >= 60">
              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">39.</td>
              <td *ngIf="beneficiaryGender === 'male'">32.</td>
              <td class="onHover">{{currentLanguageSet?.feelingUnsteadyWhileStandingorWalking}}</td>
              <td>
                <md-radio-group formControlName="cbacFeelingUnsteady"  name="cbacFeelingUnsteady">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryAge >= 60">
              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">40.</td>
              <td *ngIf="beneficiaryGender === 'male'">33.</td>
              <td class="onHover">{{currentLanguageSet?.sufferingFromAnyDisabilityThatRestrictsMovement}}</td>
              <td>
                <md-radio-group formControlName="cbacPhysicalDisabilitySuffering"  name="cbacPhysicalDisabilitySuffering">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryAge >= 60">
              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">41.</td>
              <td *ngIf="beneficiaryGender === 'male'">34.</td>
              <td class="onHover">{{currentLanguageSet?.Needinghelpingfromotherstoperformeverydayactivitiessuchaseatinggettingdressedgroomingbathingwalkingorusingtoilet}}</td>
              <td>
                <md-radio-group formControlName="cbacNeedhelpEverydayActivities"  name="cbacNeedhelpEverydayActivities">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

            <tr *ngIf="beneficiaryAge >= 60">
              <td *ngIf="beneficiaryGender === 'female' || beneficiaryGender === 'transgender'">42.</td>
              <td *ngIf="beneficiaryGender === 'male'">35.</td>
              <td class="onHover">{{currentLanguageSet?.forgettingNamesofYourNearsOnesOrYourHomeAddress}}</td>
              <td>
                <md-radio-group formControlName="cbacForgetnearones"  name="cbacForgetnearones">
                  <md-radio-button color='primary' class="radio-button" value="yes" 
                    >{{currentLanguageSet?.common?.yes}}</md-radio-button>
                  <md-radio-button color='primary' class="radio-button" value="no"
                    >{{currentLanguageSet?.common?.no}}</md-radio-button>
                </md-radio-group>
              </td>
            </tr>

           

          </ng-container>
        </tbody>
      </table>
    </div>
  </md-card-content>
</md-card>
</div>
</div>