.navbar-iemr {
    /* background-color: #253746; */
    background: #336CFB;
    color: white;
    border-radius: 0px;
    margin-bottom: 5px;
    min-height: unset;
    padding: 3px 0px;
}
.connected{
background-color: green;
color:green;
}
.icon-bar {
    background-color: white;
}

.navbar-brand {
    padding: 0px 15px;
    height: unset;
}

li a {
    outline: none;
}

.navbar-iemr li {
    float: right !important;
}

.navbar-iemr li a:hover {
    background: unset;
}

.navbar-iemr .nav li a {
    padding: 6px 8px;
}

li.logout a span.logoutIcon {
    height: 21px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    background: url(../../../../../assets/images/logoutIcon.png) no-repeat;
}

li.telemed a img {
    height: 24px;
    width: 24px;
}

li.logout a span.logoutIcon:hover {
    background-position-y: -21px;
}

#main-navbar {
    padding: 5px 15px;
    font-weight: bold;
    /* background-color: rgba(37, 55, 70, 0.2); */
    background-color: transparent;
    /* box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: none;
    text-align: center;
}

@media (min-width: 768px) {

    #main-navbar ul.navbar-nav:focus ul.navbar-nav:hover ul.navbar-nav>span:focus ul.navbar-nav>span:hover {
    /* float: left; */
    margin: 0;
    border: 1px solid #336CFB;
    background-color: #336CFB !important;
    color: #ffffff;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    float: none;
    }
}

@media (min-width: 768px) {

    #main-navbar ul.navbar-nav {
    /* float: left; */
    margin: 0;
    border: 1px solid white;
    background-color: white !important;
    color: gray;
    margin-right: 10px;
    display: inline-block;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    float: none;
    }
}
.active {
    background: #336CFB !important;
    border-radius: 30px;
    color: white;
}

button.mat-button {
    font-weight: bold;
    width: 100%;
}

.md-menuwidth {
    width: 100%;
}
.helpAlign {
    font-size: 26px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    color: rgba(245, 245, 245, 0.877);
    margin-top: 4px;
}
.link {
    text-decoration: none;
}
@media (max-width: 500px) {
    .container-fluid .navbar-collapse, .container-fluid .navbar-header {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 760px) {
    .navbar-brand {
        padding: 5px 15px;
    }
}

.iot {
    font-size: 26px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    color: rgba(245, 245, 245, 0.877);
    margin-top: 4px;
}
.alignDropDown {
    margin-top: 3px;
}
.alignWord {
    margin: 8px 10px;

}

@media (min-width: 768px) {
    .navbar-nav>li {
        /* float: left; */
        text-align: center;
    }
}

/* ul li {
    border-radius: 30px;
    background-color: white !important;
    color: gray;
    border: 1px solid white;
} */