<md-card class="m-t-10 m-b-5">
  <div class="row" [hidden]="hideOralForm">
    <div
      class="pull-right"
      [hidden]="hideRemoveFunctionalityInDoctorIfSuspected"
    >
      <button md-icon-button>
        <md-icon
          mdTooltip="Remove"
          class="md-24 mdIcon-button-style"
          (click)="hideOralScreeningForm()"
          >close</md-icon
        >
      </button>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5>
        <strong>{{ currentLanguageSet?.oralCancerScreening }}</strong>
      </h5>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
      <md-checkbox
        [disabled]="disableCheckbox"
        [checked]="suspectOralCavity"
        (change)="markAsUnsuspected($event.checked)"
      ></md-checkbox>
      <label style="color: grey; margin-bottom: 15px">{{ currentLanguageSet?.MarkAsSuspected }}</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label *ngIf="suspectOralCavity" style="color: red; margin-bottom: 15px"
        >* {{ currentLanguageSet?.oralCancerissuspected }}
      </label>
    </div>

    <div class="row" [formGroup]="oralCancerForm">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dropdown-height">
          <md-select
            class="full-width"
            formControlName="oralCavityFindingId"
            placeholder="{{ currentLanguageSet?.oralCavityFinding }}"
            (change)="setNameBasedOnSelectedID()"
            required
          >
            <md-option
              *ngFor="let oralCavity of oralCavityFindings"
              [value]="oralCavity.id"
            >
              {{ oralCavity.name }}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dropdown-height">
          <md-select
            class="full-width"
            formControlName="mouthOpeningId"
            placeholder="{{ currentLanguageSet?.mouthOpening }}"
            (change)="setNameBasedOnSelectedID()"
            required
          >
            <md-option
              *ngFor="let test of mouthOpeningFindings"
              [value]="test.id"
            >
              {{ test.name }}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dropdown-height">
          <md-select
            class="full-width lineheight"
            formControlName="palpationofOralCavityId"
            placeholder="{{ currentLanguageSet?.palpationofOralCavity }}"
            (change)="setNameBasedOnSelectedID()"
            required
          >
            <md-option
              *ngFor="let palpation of palpationOralCavityFindings"
              [value]="palpation.id"
            >
              {{ palpation.name }}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dropdown-height">
          <md-select
            class="full-width lineheight"
            formControlName="temporomandibularJointRightId"
            placeholder="{{ currentLanguageSet?.TemporomandibularJointRt }}"
            (change)="setNameBasedOnSelectedID()"
            required
          >
            <md-option
              *ngFor="let tempRight of temporomandibularRtLt"
              [value]="tempRight.id"
            >
              {{ tempRight.name }}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dropdown-height">
          <md-select
            class="full-width lineheight"
            formControlName="temporomandibularJointLeftId"
            placeholder="{{ currentLanguageSet?.TemporomandibularJointLt }}"
            (change)="setNameBasedOnSelectedID()"
            required
          >
            <md-option
              *ngFor="let tempLeft of temporomandibularRtLt"
              [value]="tempLeft.id"
            >
              {{ tempLeft.name }}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dropdown-height heightAlign">
          <md-select
            class="full-width lineheight"
            formControlName="cervicalLymphnodesId"
            placeholder="{{ currentLanguageSet?.CervicalLymphnodes }}"
            (change)="setNameBasedOnSelectedID()"
            required
          >
            <md-option
              *ngFor="let cervicalLymphNode of cervicalLymphNodesFindings"
              [value]="cervicalLymphNode.id"
            >
              {{ cervicalLymphNode.name }}
            </md-option>
          </md-select>
        </div>
      </div>
    </div>
  </div>
</md-card>
