.flex-container {
    height: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.mdCardSonar {
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 75px;
    margin-bottom: 50px;
    text-align: center;
}
  
.formIcons {
    padding-top: 30px;
    color: gray;
}
  
form {
    font-size: 17px;
}
  
button {
    font-size: 15px;
}

button.submit {
    background: #336CFB !important;
}
  
.forgotBtn {
    margin: 10px;
}
  
  
md-card-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}
  
.full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
}
  
.errorStyle {
    position: absolute;
    font-size: 12px;
    transition: all .7s;
    color: #C21F1F !important;
}
  
.loader-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
  
.googleBtn {
    background-color: #C21F1F !important;
    color: white;
    /*background-color: white;
      color: #F44336;*/
}
  
.fbBtn {
    background-color: #3f51b5;
    color: white;
    /*color: #3f51b5;
      background-color: white;*/
}
  
  
/*for smaller screens*/
@media (min-width: 10px) {
    md-card {
      top: 30px;
    }
  }
  
  
/*for Medium screens*/
@media (min-width: 480px) {
    md-card {
      top: 0px;
    }
}

/*for large screens*/
@media (min-width: 768px) {
    md-card {
      top: 0px;
    }
  }

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.password {
    text-decoration: underline;
    color: #336CFB !important;
}

.full-width-login {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.input.mat-input-element {
    line-height: 25px;
}