.list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

  md-dialog-content{
    height: 500px;
    width: 1100px;
  }

  .pccStyle {
    /*border-bottom: 1px solid #ccc;*/
    margin-top: 40px;
  }
  
  .md2-autocomplete-trigger {
    font-weight: bolder !important;
  }
  
  tfoot>tr>td {
    border-top: none!important;
  }
  .input-full-width {
    width: 100%;
  }
  .scrolldiv{ 
    width: 450px; height: 100px; 
    overflow-x: hidden; overflow-y: auto; 
    padding: 0px 10px 10px 0px; }

  .mat-dialog-title {
    margin: 20px;
  }

  .mat-icon {
    margin: 20px;
  }

  .mat-dialog-actions:last-child {
    margin-bottom: 0px;
    margin-right: 5px;
  }

  .mat-dialog-content {
    margin: 0 -15px;
  }
  .button-submit-disabled[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    }