h5{
    font-weight: bold;
}

.option1 { 
    display: inline-block; /* show on the same line */
} 

.option2 { 
    padding-left: 500px; /* small gap on the right of each header */ 
}

.mat-expansion-panel-header{
    background: rgba(37,55,70,0.2);
}
.textarea-full-width {
    width: 100%;
}

.input-full-width {
    width: 100%;
}
.select-full-width {
    width: 100%;
}

.radio-button{
    margin-right : 25px;
}

.control-label{
    font-weight: normal;
} 
.mat-form-field {
    line-height: unset;
}
.box{
    height: 60px;
}
.description{
    height: 45px;
    padding-right: 10px;
}

.description h5 {
    display: inline-block;
    float: left;
}

.description button {
    display: inline-block;
    float: right;
}

/********/
.btn-group button {
    /* background-color:lightgray; */
    margin:5px;
    /* color: white;  */
    float: left; 
  }

.box1 {
    height: 50px;
}

.reason {
    text-decoration: underline;
}