.radio-btn {
    margin-left: 20px;
  }

  .control-label {
    font-weight: normal;
  }

  
  .box {
    height: 60px;
  }
  
  .input-full-width {
    width: 100%;
  }

  button#previousDevelopmentalHistory .mat-icon.material-icons {
    color: #52575C !important;
}