.title {
    margin: 0px;
    padding: 15px 24px 15px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.message {
    font-size: 16px;
    /* color: rgba(0, 0, 0, 0.6); */
    padding: 24px 24px 24px;
    box-sizing: border-box;
    overflow-y: auto;
    border-top: none;
    border-bottom: none;
    max-height: 381px;
    color: #52575C !important;
}

.action {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 8px;
    width: 100%;
    text-align: right;
    border-top: 1px solid rgb(82 87 92 / 30%);
}

.action button {
    border: 1px solid lightgray;
}

.success {
    background: #43a047;
}

.info {
    background: #336CFB;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.warn, .error {
    background: #C21F1F !important;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.center-btn {
    justify-content: center !important;
    display: flex !important;
}

.list-group-item {
    background-color: unset !important;
    border: unset !important;
    padding: 5px 15px !important;
}

.alert {
    border-radius: unset !important;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
    padding: 10px 10px 10px 20px;
    margin-bottom: 15px;
}

.radio-button {
    margin: 5px;
}

.background-success {
    background-color: #43a047 !important;
    color: white !important;
}

.background-primary {
    background-color: #336CFB !important;
    color: white !important;
}

.full-width-login {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 16px;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    max-width: 110px;
    border: 1px solid white !important;
  }
