.mat-select {
    padding: 0;
}

.advanceSearch {
    padding: 24px;
}

.padding15 {
    padding: 15px;
}

.title_background {
    background: #336CFB !important;
    color: white;
}

.grayborder {
    border-bottom: 1px solid lightgray;
}

#searchDialog {
    z-index: 998 !important;
}

.margin {
    margin: 15px;
}

.info {
    background: #336CFB !important;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.title {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    color: white;
}

.title h4 {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.close-btn {
    color: white !important;
}

.box{
    height: 60px;
}




  .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1001;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/opacity */
  }
  
  .full-width-login {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05em;
    max-width: 140px;
    padding: 7px 15px 5px 15px;
    margin-left: 5px;
}
