<section id="searchDialog" class="container-fluid">

  <div class="row title info">
      <h4>{{currentLanguageSet?.createFamilyTagging}}</h4>
      <button class="pull-right close-btn" (click)="mdDialogRef.close(false)" md-icon-button>
        <md-icon class="md-24">close</md-icon>
    </button>
  </div>
  <div>
      <md-dialog-content style="padding-top: 2%;">
        <form #newFamilyTaggingForm="ngForm">
          <section class="row m-t-10"> 
              <div class="col-xs-12 col-sm-6 box text-field">
              <md-input-container [style.width]="'100%'">
                  <input autocomplete="off" mdInput required allowText="alphaspace" placeholder="{{currentLanguageSet?.familyName}}" name="familyName" [(ngModel)]="familyName"
                      #familyNameV="ngModel" minlength="2" maxlength="50">
                      <md-error *ngIf="familyNameV?.errors?.required">{{currentLanguageSet?.familyNameisrequired}}</md-error>
                      <md-error *ngIf="familyNameV?.errors?.minlength">{{currentLanguageSet?.common?.pleaseprovideatleast2character}}</md-error>
              </md-input-container>
              </div>  
              <div class="col-xs-12 col-sm-6 box">
              <div class="select-container">
                  <md-select class="p-t-12" required [style.width]="'100%'" placeholder="{{currentLanguageSet?.isHeadOftheFamily}}" name="isHeadOfTheFamily" (change)="populateRelation(isHeadOfTheFamily)" [(ngModel)]="isHeadOfTheFamily">
                      <md-option *ngFor="let familyHead of isHeadOfFamilies" [value]="familyHead" >{{familyHead}} </md-option>
                  </md-select>
              </div>
          </div>

          <div class="col-xs-12 col-sm-6 box">
            <div class="select-container">
              <md-select class="p-t-12" required [style.width]="'100%'" placeholder="{{currentLanguageSet?.benRelationWithHeadOfFamily}}" name="relationWithHeadOfFamily"
              (change)="checkOtherRelation(relationWithHeadOfFamily)" [(ngModel)]="relationWithHeadOfFamily" >
                <md-option *ngFor="let relationType of relationShipList" [value]="relationType.benRelationshipID">{{relationType.benRelationshipType}} </md-option>
              </md-select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 box" *ngIf="enableOther">
            <md-input-container [style.width]="'100%'" required>
                <input autocomplete="off" mdInput required allowText="alphaspace" placeholder="{{currentLanguageSet?.otherRelation}}" name="otherRelation" [(ngModel)]="otherRelation"
                    #otherRelationV="ngModel" minlength="2" maxlength="50">
                    <md-error *ngIf="otherRelationV?.errors?.required">{{currentLanguageSet?.otherRelationisrequired}}</md-error>
                    <md-error *ngIf="otherRelationV?.errors?.minlength">{{currentLanguageSet?.common?.pleaseprovideatleast2character}}</md-error>
            </md-input-container>
            </div>  
          </section>
        </form>
      </md-dialog-content>

      <md-dialog-actions align="right" class="padding15 margin15 pull-right">
      <button class="full-width-login button-reset" type="button" (click)="ResetForm()">
        {{currentLanguageSet?.common?.clear}}
      </button>
      <button class="full-width-login background-overall button-overall-disabled" type="button" [disabled]="newFamilyTaggingForm.invalid" (click)="createNewFamilyTagging()">
        {{currentLanguageSet?.common?.submit}}
      </button> 
      </md-dialog-actions>
      <div class="clearfix"></div>
  </div>

  </section>
