.title .exit {
    cursor: pointer;
  }
  
  .title {
    margin: 0px 0px 10px;
    padding: 5px 6px 5px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    background: #336CFB !important;
  }
  
  .title h4 {
    display: inline-block;
  }

  .container-fluid {
    padding: 24px !important;
  }